{% extends 'VictoireCoreBundle:Widget:edit.html.twig' %}

{% block form_static %}
{{ form_start(form) }}
{{ form_row(form.title) }}
{{ form_label(form.questions) }}
<div id="{{ form.vars.id }}">
    <ul class="widget_poll_form_questions_collection" data-index="{{ form.questions|length }}" data-prototype="{{ _self.widget_prototype(form.questions.vars.prototype)|e }}">
        {% for child in form.questions %}
            {{ _self.widget_prototype(child) }}
        {% endfor %}
    </ul>
    <a href="#"  class="vic-btn vic-btn-default widget_poll_form_add_question">
        {{ 'victoire.widget.poll.radio.add' |trans({}, 'victoire')}}
    </a>
</div>
{% do form.questions.setRendered %}
{{ form_rest(form) }}
{{ form_end(form) }}

{% endblock form_static %}
{% macro widget_prototype(form) %}
    <li>
        <div class="vic-row">
            <div class="col-md-10">
                <div class="vic-row">
                    <div class="col-md-6">
                        {{ form_row(form.title) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.type) }}
                    </div>
                </div>
                {% include '@VictoireWidgetPoll/Form/Question/' ~ form.vars.questionTemplate ~ 'Form.html.twig' %}
            </div>
            <div class="col-md-2">
                {% spaceless %}
                    <a href="#" class="vic-btn -square -framed vic-btn-danger widget_poll_form_remove_question">
                        <i class="fa fa-trash-o"></i>
                    </a>
                {% endspaceless %}
            </div>
        </div>
    </li>
{% endmacro %}
