{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}
{% block content %}
    {% if participationForm is defined %}
        {% form_theme participationForm '@VictoireWidgetPoll/Form/fields.html.twig' %}
        <div id="victoire-widget-poll-form-{{ widget.id }}">
            {{ form_start(participationForm) }}
            {% for answer in participationForm.answers %}
                {% include '@VictoireWidgetPoll/Form/Answer/' ~ answer.vars.answerTemplate ~ 'Form.html.twig' %}
            {% endfor %}
            {{ form_rest(participationForm) }}
            {{ form_end(participationForm) }}
        </div>
    {% else %}
        {{ victoire_widget_poll_single_result(widget, questions) }}
{% endif %}
{% endblock content %}