{% extends '@VictoireForm/Form/fields.html.twig' %}
{% block custom_multiple_widget %}
    {% spaceless %}
        {% set vic_widget_add_btn = null %}
        {% if dynamicLabel is not null %}
            {% set formRootSplit = full_name|split('[') %}
            {% set dynamicLabel = dynamicLabel|replace({"{{formRootId}}" : formRootSplit[0]}) %}
        {% endif %}
        <div id="{{ form.vars.id }}">
            {{ block('form_label') }}
            {% set allow_delete = allow_delete ? length is null : false %}
            <ul class="form_array_collection"{% if prototype is defined and length is null %} data-prototype="{{ _self.custom_item_form(form.vars.prototype, form.vars.elem_class, allow_delete, action_button_class, dynamicLabel, '__name__')|e }}"{% endif %}>
                {% for index, child in form %}
                    {{ _self.custom_item_form(child, elem_class, allow_delete, action_button_class, dynamicLabel, index) }}
                {% endfor %}
                {% if allow_add and length is null %}
                    <li>
                        <a href="#"  class="vic-btn vic-btn-default {{ action_button_class }} form_array_add_item">
                            Ajouter
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endspaceless %}
{% endblock custom_multiple_widget %}
{% macro custom_item_form(child_item, elem_class, allow_delete, action_button_class, dynamicLabel, index) %}
    <li class="{% if elem_class is not null %}{{ elem_class }} {% endif %}form_array_item">
        <div class="vic-row">
            <div class="col-xs-8">
                {{ form_widget(child_item) }}
            </div>
            {% if allow_delete %}
                <div class="col-xs-4">
                    <a href="#"  class="vic-btn vic-btn-danger {{ action_button_class }} form_array_remove_item">
                        Supprimer
                    </a>
                </div>
            {% endif %}
        </div>
    </li>
    {% if dynamicLabel is not null %}
        <script>bindDynamicLabel("{{ child_item.vars.id }}", "{{dynamicLabel|replace({'{{index}}': index})}}");</script>
    {% endif %}
{% endmacro %}

{% block data_set_widget %}
    <fieldset class="datavisualisation-dataset-item">
        <div class="vic-row">
            <div class="col-xs-8">
                {{ form_row(form.title) }}
                {{ form_row(form.type) }}
                {% if form.chartOption is defined %}
                    {{ form_row(form.chartOption) }}
                {% endif %}
            </div>
            <div class="col-xs-4">
                {{ form_widget(form.data) }}

            </div>
        </div>
    </fieldset>
{% endblock %}